#NavBar {
  font-size: 12pt;
  font-family: "Open Sans Condensed",sans-serif;
  color: #FFFFFF;
  background-color: rgba(54,17,55,0.8);
  text-transform: uppercase;
  letter-spacing: 1px;

  padding-left: 50px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  position: fixed;
  top: 0;
  width: 100%;
}

#NavRight {
  display: inline-block;
  float: right;
}

#NavBar a {
  text-decoration: none;
  padding-left: 0;
  padding-right: 60px;
}

#introImage {
  font-size: 90pt;
  font-family: "Alfa Slab One";
  background-image: url(img/slackPlaidDark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #FFFFFF;
  text-align: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

#title {
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*background-color: rgba(0,0,0,0.1);*/
}

.subtitle {
  margin-left: 125px;
  margin-right: 125px;
  font-size: 50pt;
  font-family: "Ranga";
  font-weight: bold;
  /*background-color: rgba(0,0,0,0.1);*/
}

.heading {
  font-family: "Ranga";
  font-size: 25pt;
  text-align: center;
}

#SectionProblem {
  background-color: #E7A733;
  color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;

  border-top: solid 5px white;
}

#SectionSolution {
  background-color: #DE1D64;
  color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;

  border-top: solid 5px white;
}

#Section3 {
  background-color: #FFFFFF;
  color: #484A4A;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
}

#SectionArchitecture {
  background-color: #72CADB;
  color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;
}

#Section5 {
  background-color: #FFFFFF;
  color: #484A4A;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
}

#SectionNLP {
  background-color: #24927D;
  color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;
}

#Section7 {
  background-color: #FFFFFF;
  color: #484A4A;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;
  text-align: center;
}

#SectionNext {
  background-color: #E7A733;
  color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;
}

#SectionTeam {
  background-color: #361137;
  color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 80px;

  border-top: solid 5px white;
}

body {
  margin:0;
  font-family: "Open Sans Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16pt;
  text-align: justify;
}

body a {
  color: #FFFFFF;
  font-weight: bold;
}

strong {
  font-family: "Ranga";
  font-size: 18pt;
  font-style: normal;
}

.centered {
  text-align: center;
}

.wordcloud {
  margin-left: 20px;
  margin-right: 20px;
}

figure {
  display: inline-block;
  float: center;
}

.orange_link {
  color: #E7A733;
  text-decoration: none;
}

/**/
/**/
/*Modal to make GIF pop up when image clicked*/
/**/
/**/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.40;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
/*.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}*/

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
